@font-face {
    font-family: 'boldonse';
    src: url('../../assets/fonts/Boldonse-Regular.ttf');
}

@font-face {
    font-family: 'overpass';
    src: url('../../assets/fonts/Overpass-VariableFont_wght.ttf');
}

.features-container {
    display: grid;
    gap: 10px;
}

.features-section {
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 70px;
    background: linear-gradient(120deg, #060818 60%, #01173e 100%) right;
}

.features-section h1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;

    font-family: boldonse, serif;
    font-size: 44px;
}

.feature {
    min-height: 340px;

    background: rgba(9, 18, 40, 0.92);
    border-radius: 22px;
    box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.20);
    border: 1px solid rgba(50, 80, 220, 0.13);

    padding: 12px 1px;
    color: #fff;
    transition: transform 0.4s, box-shadow 0.4s;
    margin: 16px;
}

.feature:hover {
    transform: translateY(-8px) scale(1.01);
    box-shadow: 0 0 24px 4px #00d0ff80,
    0 8px 32px 0 rgba(0, 0, 0, 0.23);
    border: 2px solid #10b7ff;
}

.features-photo {
    position: relative;
    top: 15px;
    display: block;
    width: 200px;
    border-radius: 30px;
    margin: 0 auto 10px;
}

.feature > h4, p {
    position: relative;
    text-align: center;

    font-family: overpass, serif;
}

.feature > h4 {
    font-weight: bold;
    margin-top: 30px;
}

.feature p {
    font-size: 14px;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
}

.feature-icon-white {
    background-color: #00051B;
    color: white;
}

@media screen and (min-width: 1300px) {
    .features-container {
        grid-template-columns: auto auto auto;
    }
}
