body {
    margin: 0;
}

.intro-container {
    background: url("../assets/bg/light bg.png") repeat-x top left;
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;
}

.intro-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    pointer-events: none;
    height: 800px;
}

.intro-container .container {
    position: relative;
    z-index: 999;
}

@media screen and (min-width: 1300px) {
    .container {
        max-width: 1300px;
        margin: 0 auto;
        min-height: 800px;
    }
}

@media screen and (max-width: 1299px) {
    .container {
        width: 100%;
        margin: 0 auto;
        min-height: 900px;
    }
}